discord/
ngrok/
JetBrains/
nextjs-nodejs/
create-next-app-nodejs/
launcher/
rofi/image
yay/
Electron/
pavucontrol.ini
nvim/
BetterDiscord*/
Code/
FTB*/
Forager/
yandex-browser/
anilibrix/
cef_user_data/
obsidian/
Vencord/
nightpdf/
MongoDB*/
neofetch/
TabNine/
unity3d/
blender/
nvim/
blender/
vlc/
filezilla/
easyeffects/
qBittorrent/
zed/
btop/
xfce4/
mps-youtube/
systemd/
dconf/
lvim/
Thunar/
PreMiD/
autostart/
bottom/
foot/
menus/
kdenlive-layoutsrc/
wofi/
helix/
glib-2.0/
qalculate/
htop/
kde.org/
gtk-3.0/
liquidlauncher/
pulse/
xsettingsd/
nextjs-nodejs/
noisetorch/
jgit/
nwg-look/
create-next-app-nodejs/
eog/
ngrok/
xdg-desktop-portal/
chess-tui/
nemo/
mpv/
Discord/
gh/
kdenliverc
llpp.conf
partitionmanagerrc
QtProject.conf
mimeapps.list
user-dirs.dirs
kdeglobals
dolphinrc
pavucontrol.ini
xdg-desktop-portal-kderc
PortProton.conf
trashrc
user-dirs.locale
kdenlive-layoutsrc
